<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      /* General body styling */
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      /* Container styling */
      div {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
      }

      /* Heading styling */
      h1 {
        color: #333333;
        margin-bottom: 20px;
      }

      /* Label styling */
      label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: #555555;
      }

      /* Input field styling */
      input[type="text"] {
        width: 100%;
        padding: 5px;
        margin-bottom: px7;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 14px;
      }

      /* Button styling */
      button {
        padding: 3px 5px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
      }

      button:hover {
        background-color: #0056b3;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>
  <body>
    <div>
      <form method="POST" action="/api/v1/url">
        <h4>URL Shortner</h4>
        <label for="redirectUrl">Enter Your Original URL</label>
        <input
          id="redirectUrl"
          type="text"
          placeholder="https://example.com"
          name="redirectUrl"
          required
        />
        <button type="submit">Generate</button>
      </form>
    </div>
  </body>
</html>
